@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #ffffff;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #000;
  font-size: 60px;
  text-decoration: none;
  font-style: italic;
  font-family: Colonna MT;
  text-transform:uppercase;

}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #000;
  text-decoration: none;
  font-size: 18px;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: Calibri Light;
}
.nav-links li a:hover{
  background: #d8d9da;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #fff;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #fff;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(19, 17, 17, 0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #000;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #0e0d0d;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 10px;
}
.body-text:hover{
  cursor: pointer;
}

.title{
  font-family: Colonna MT;
  font-weight: 0;
  font-size: 105px;
  font-style: italic;
}  
.btn-1{
  border: none;
  border-radius: 50px;
  padding: 7px 32px;
  text-transform: capitalize;
  margin-left: 5px;
}
.btn-1:hover{
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: #3A3B3C;
  color: #fff;
}
.about{
  align-items: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  padding: 0 10px;
  text-transform: capitalize;
  font-size: 13px;
}
.mens-wear{
  align-items: center;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  padding: 0 10px;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bolder;
  font-family:'Poppins', sans-serif;
}
body:hover{
  cursor: pointer;
}
.womens-wear{
  align-items: center;
  position: absolute;
  top: 190%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  padding: 0 10px;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bolder;
  font-family:'Poppins', sans-serif;
}
.kids-wear{
  align-items: center;
  position: absolute;
  top: 260%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  padding: 0 10px;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bolder;
  font-family:'Poppins', sans-serif;
}
.new-arrivals{
  align-items: center;
  position: absolute;
  top: 330%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  padding: 0 10px;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bolder;
  font-family:'Poppins', sans-serif;
}
.more-items{
  position: absolute;
  top: 400%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn-2{
  border-radius: 50px;
  border: none;
  box-shadow: #0e0d0d;
  background-color: #e1e1e1;
  text-transform: capitalize;
  color: #000000;
  padding: 10px 20px;
  font-size: 17px;
  margin-bottom: 100px;
}
.btn-2:hover{
  background-color: #343434;
  color: #fff;
  cursor: pointer;
}
.terms{
  position: absolute;
  top: 418%;
  text-decoration: none;
  font-size: 12px;
}
.help{
  position: absolute;
  left: 450px;
  width: 200px;
}
.resources{
  position: absolute;
  left: 200px;
  width: 120px;
}
.company{
  position: absolute;
  left: 740px;
  width: 200px;
}
.promotions_discounts{
  position: relative;
  left: 1000px;
}
.terms li a{
  text-decoration: none;
  display: block;
  border-radius: 0;
  text-transform: capitalize;
  color: #000;
  padding: 10px;
  box-sizing: border-box;
}
.terms a:hover{
  cursor: pointer;
  color: blue;
}
.terms li{
  list-style: none;
}
#help{
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 600;
}
#promotions_discounts{
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 600;
}
#resources{
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 600;
}
#company{
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 600;
}
.terms{
  padding-bottom: 200px;
}
.Rights-reserve li{
 list-style: none;
}
.Rights-reserve{
 top: 470%;
 position: absolute;
 left: 230px;
 display: flex;
 align-items: center;

}
.Rights-reserve a{
  justify-content: space-between;
  color: #909090;
  text-decoration: none;
  font-size: 13px; 
  max-width: 500px;
}
.Rights-reserve a:hover{
  cursor: pointer;
  color: rgb(0, 0, 0);
}
#sale{
  position: absolute;
  left:250px;
  width: 200px;
  top: 0%;
}
#use{
  position: absolute;
  left:360px;
  width: 100px;
  top: 0;
}
#choises{
  position: absolute;
  left:470px;
  width: 200px;
  top: 0;
}
#supply{
  position: absolute;
  left:620px;
  width: 200px;
  top: 0;
}
#Privacy-policy{
  position: absolute;
  left:780px;
  width: 200px;
  top: 0;
}